-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: demo_project
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `fname` varchar(255) DEFAULT NULL,
  `lname` varchar(255) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `contactno` varchar(10) DEFAULT NULL,
  `posting_date` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--

LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;
INSERT INTO `admin` VALUES (1,'admin','202cb962ac59075b964b07152d234b70','ABC','PQR',NULL,'8087053905',NULL),(2,'opret','202cb962ac59075b964b07152d234b70','opet','user',NULL,'9876543210',NULL),(3,'pp@gmail.com','202cb962ac59075b964b07152d234b70','Prakash','Patil','pp@gmail.com','7020211701','2026-02-07 10:23:24');
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `circulars`
--

DROP TABLE IF EXISTS `circulars`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `circulars` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `circular_no` varchar(100) NOT NULL,
  `title` text NOT NULL,
  `department` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `file_name` varchar(255) DEFAULT NULL,
  `original_file_name` varchar(255) DEFAULT NULL,
  `publish_date` date NOT NULL,
  `created_by` int(11) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `circulars`
--

LOCK TABLES `circulars` WRITE;
/*!40000 ALTER TABLE `circulars` DISABLE KEYS */;
INSERT INTO `circulars` VALUES (1,'1234','αñê-αñòαÑçαñ╡αñ╛αñ»αñ╕αÑÇ αñ╡ αñåαñºαñ╛αñ░ αñ╕αñ┐αñíαÑÇαñéαñù αñ¼αñ╛αñ¼αññ..','αñåαñ».αñƒαÑÇ.','','circular_1777783610_4558.pdf','Lecture 1.pdf','2026-05-03',1,1,'2026-05-03 10:16:50');
/*!40000 ALTER TABLE `circulars` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departments`
--

DROP TABLE IF EXISTS `departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `departments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `department_name` varchar(255) NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departments`
--

LOCK TABLES `departments` WRITE;
/*!40000 ALTER TABLE `departments` DISABLE KEYS */;
/*!40000 ALTER TABLE `departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employees`
--

DROP TABLE IF EXISTS `employees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employees` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `department` varchar(255) DEFAULT NULL,
  `designation` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employees`
--

LOCK TABLES `employees` WRITE;
/*!40000 ALTER TABLE `employees` DISABLE KEYS */;
/*!40000 ALTER TABLE `employees` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fixed_asset_transfers`
--

DROP TABLE IF EXISTS `fixed_asset_transfers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fixed_asset_transfers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `asset_id` int(11) NOT NULL,
  `from_branch` varchar(255) NOT NULL,
  `to_branch` varchar(255) NOT NULL,
  `category` varchar(100) NOT NULL,
  `product` varchar(255) NOT NULL,
  `company` varchar(255) DEFAULT NULL,
  `label` varchar(255) DEFAULT NULL,
  `amount` decimal(12,2) DEFAULT 0.00,
  `status` varchar(100) DEFAULT NULL,
  `transfer_status` varchar(50) DEFAULT 'Pending',
  `created_at` datetime DEFAULT current_timestamp(),
  `approved_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fixed_asset_transfers`
--

LOCK TABLES `fixed_asset_transfers` WRITE;
/*!40000 ALTER TABLE `fixed_asset_transfers` DISABLE KEYS */;
INSERT INTO `fixed_asset_transfers` VALUES (1,1,'αñòαÑüαñéαñíαñ▓','kundal(HO)','Furniture','Chair','Other','xyz',100.00,'Available','Approved','2026-05-03 18:06:54','2026-05-03 18:08:12');
/*!40000 ALTER TABLE `fixed_asset_transfers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fixed_assets`
--

DROP TABLE IF EXISTS `fixed_assets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fixed_assets` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `date` date DEFAULT NULL,
  `branch` varchar(255) DEFAULT NULL,
  `category` varchar(100) DEFAULT NULL,
  `product` varchar(255) DEFAULT NULL,
  `company` varchar(255) DEFAULT NULL,
  `rate` decimal(10,2) DEFAULT NULL,
  `quantity` int(11) DEFAULT NULL,
  `amount` decimal(10,2) DEFAULT NULL,
  `serial_no` varchar(255) DEFAULT NULL,
  `label` varchar(255) DEFAULT NULL,
  `status` varchar(100) DEFAULT 'Available',
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fixed_assets`
--

LOCK TABLES `fixed_assets` WRITE;
/*!40000 ALTER TABLE `fixed_assets` DISABLE KEYS */;
INSERT INTO `fixed_assets` VALUES (1,'2026-05-03','αñòαÑüαñéαñíαñ▓','Furniture','Chair','Other',100.00,1,100.00,'123','xyz','Transferred','2026-05-03 18:04:03'),(2,'2026-05-03','αñòαÑüαñéαñíαñ▓','Dead Stock','Locker','Other',230.00,2,460.00,'567','asd','Scrap','2026-05-03 18:04:48'),(3,'2026-05-03','kundal(HO)','Furniture','Chair','Other',100.00,1,100.00,'123','xyz','Available','2026-05-03 18:08:12');
/*!40000 ALTER TABLE `fixed_assets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inwards`
--

DROP TABLE IF EXISTS `inwards`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inwards` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `inward_no` int(11) NOT NULL,
  `letter_date` date NOT NULL,
  `inward_from` varchar(255) NOT NULL,
  `details` text NOT NULL,
  `entry_date` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `inward_no` (`inward_no`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inwards`
--

LOCK TABLES `inwards` WRITE;
/*!40000 ALTER TABLE `inwards` DISABLE KEYS */;
INSERT INTO `inwards` VALUES (1,1,'2026-05-03','admin','Demo Inward','2026-05-03 10:23:01');
/*!40000 ALTER TABLE `inwards` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `it_asset_transfers`
--

DROP TABLE IF EXISTS `it_asset_transfers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `it_asset_transfers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `asset_id` int(11) NOT NULL,
  `from_branch` varchar(255) NOT NULL,
  `to_branch` varchar(255) NOT NULL,
  `category` varchar(100) NOT NULL,
  `product` varchar(255) NOT NULL,
  `label_name` varchar(255) DEFAULT NULL,
  `status` varchar(100) DEFAULT NULL,
  `transfer_status` varchar(50) DEFAULT 'Pending',
  `approved_at` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `it_asset_transfers`
--

LOCK TABLES `it_asset_transfers` WRITE;
/*!40000 ALTER TABLE `it_asset_transfers` DISABLE KEYS */;
INSERT INTO `it_asset_transfers` VALUES (1,1,'αñòαÑüαñéαñíαñ▓','kundal(HO)','CCTV Camera','CCTV Camera','zxc','Send To Repair','Approved','2026-05-03 18:07:49','2026-05-03 18:06:29');
/*!40000 ALTER TABLE `it_asset_transfers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `it_assets`
--

DROP TABLE IF EXISTS `it_assets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `it_assets` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `branch_name` varchar(255) NOT NULL,
  `category` varchar(100) NOT NULL,
  `product` varchar(255) NOT NULL,
  `serial_id` varchar(255) DEFAULT NULL,
  `label_name` varchar(255) DEFAULT NULL,
  `status` varchar(100) DEFAULT 'Available',
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `it_assets`
--

LOCK TABLES `it_assets` WRITE;
/*!40000 ALTER TABLE `it_assets` DISABLE KEYS */;
INSERT INTO `it_assets` VALUES (1,'αñòαÑüαñéαñíαñ▓','CCTV Camera','CCTV Camera','789','zxc','Transferred','2026-05-03 18:05:33'),(2,'αñòαÑüαñéαñíαñ▓','UPS','Branch Battery','45','zxc','Scrap','2026-05-03 18:06:11'),(3,'kundal(HO)','CCTV Camera','CCTV Camera','789','zxc','Available','2026-05-03 18:07:49');
/*!40000 ALTER TABLE `it_assets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `news`
--

DROP TABLE IF EXISTS `news`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `news` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `summary` text NOT NULL,
  `image_name` varchar(255) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `news`
--

LOCK TABLES `news` WRITE;
/*!40000 ALTER TABLE `news` DISABLE KEYS */;
/*!40000 ALTER TABLE `news` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notices`
--

DROP TABLE IF EXISTS `notices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notices` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notices`
--

LOCK TABLES `notices` WRITE;
/*!40000 ALTER TABLE `notices` DISABLE KEYS */;
/*!40000 ALTER TABLE `notices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `outwards`
--

DROP TABLE IF EXISTS `outwards`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `outwards` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `outward_no` int(11) NOT NULL,
  `outward_title` varchar(255) NOT NULL,
  `entry_by` varchar(255) NOT NULL,
  `outward_date` date NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `entry_date` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `outward_no` (`outward_no`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `outwards`
--

LOCK TABLES `outwards` WRITE;
/*!40000 ALTER TABLE `outwards` DISABLE KEYS */;
INSERT INTO `outwards` VALUES (1,1,'Demo outward','kundal_admin','2026-05-03',1,'2026-05-03 10:23:18');
/*!40000 ALTER TABLE `outwards` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `photo_event`
--

DROP TABLE IF EXISTS `photo_event`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `photo_event` (
  `idphoto_event` int(11) NOT NULL AUTO_INCREMENT,
  `pe_title` varchar(255) NOT NULL,
  `pe_description` text DEFAULT NULL,
  `pe_visible` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`idphoto_event`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `photo_event`
--

LOCK TABLES `photo_event` WRITE;
/*!40000 ALTER TABLE `photo_event` DISABLE KEYS */;
INSERT INTO `photo_event` VALUES (23,'test','test',1);
/*!40000 ALTER TABLE `photo_event` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portal_blocks`
--

DROP TABLE IF EXISTS `portal_blocks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `portal_blocks` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `block_title` varchar(255) NOT NULL,
  `file_name` varchar(255) DEFAULT NULL,
  `file_type` varchar(20) DEFAULT 'pdf',
  `color_class` varchar(100) DEFAULT '',
  `display_order` int(11) NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portal_blocks`
--

LOCK TABLES `portal_blocks` WRITE;
/*!40000 ALTER TABLE `portal_blocks` DISABLE KEYS */;
/*!40000 ALTER TABLE `portal_blocks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portal_policies`
--

DROP TABLE IF EXISTS `portal_policies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `portal_policies` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `policy_key` varchar(100) DEFAULT NULL,
  `policy_title` varchar(255) NOT NULL,
  `file_name` varchar(255) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portal_policies`
--

LOCK TABLES `portal_policies` WRITE;
/*!40000 ALTER TABLE `portal_policies` DISABLE KEYS */;
INSERT INTO `portal_policies` VALUES (1,'it_policy','αñåαñ»αñƒαÑÇ αñºαÑïαñ░αñú','1777808552_Lecture 2.pdf',1),(2,'cyber_security','αñ╕αñ╛αñ»αñ¼αñ░ αñ╕αñ┐αñòαÑìαñ»αÑüαñ░αñ┐αñƒαÑÇ αñºαÑïαñ░αñú',NULL,1);
/*!40000 ALTER TABLE `portal_policies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` varchar(50) NOT NULL DEFAULT 'employee',
  `branch_name` varchar(255) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'kundal_admin','$2y$10$YNrESqxeOS5M8iFmBZ9my.57RGpngWHAksqwNywHmq6J5eZkqOAXi','admin','αñòαÑüαñéαñíαñ▓',1),(2,'kundal_employee','$2y$10$iXGE9LX2UpYE56eeRh2uPe0LL0Gw8WquFh/7LRfW2LBrUuzJyAbsi','employee','αñòαÑüαñéαñíαñ▓',1);
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'demo_project'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-03 19:39:00
